/* fonts */
@font-face {
  font-family: poppins-regular;
  src: url(/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins;
  src: url(/fonts/Poppins-Medium.ttf);
}
/* global css */
html {
  overflow-x : hidden;
}
body,
h1,
h2,
h3,
p,
ul,
li,
form {
  margin: 0;
  padding: 0;
}
header,
main,
section,
footer,
button,
ul,
a,
p,
form,
div,
span,
h1,
h2,
h3 {
  box-sizing: border-box;
}
header,
main,
footer {
  width: 100vw;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.wrap,
.wrap-row,
.wrap-col {
  width: 1170px;
  height: 100%;
  position: relative;
}
.wrap-row,
.wrap-col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap-row {
  flex-direction: row;
}
.wrap-col {
  flex-direction: column;
}
/* header */
.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "poppins-regular", sans-serif;
  font-size: 14px;
}
/* header_top */
.header_top {
  height: 50px;
  background-color: rgb(186, 0, 0);
  color: rgb(255, 255, 255);
}
/* header_nav */
.header_nav {
  height: 120px;
  background-color: rgb(255, 204, 0);
}
/* header_bottom */
.header_bottom {
  height: 800px;
  background-color: rgb(192, 192, 192);
}
/* header__elements */
.header__drop-down,
.header__empty-2,
.header__empty-4,
.header__cc,
.header__list,
.header__a {
  display: inline-block;
  box-sizing: border-box;
}
.header__a-top {
  color: rgb(255, 255, 255);
}
/* .header__wrap::after {
  content: "^";
  transform: rotate(180deg);
  display: inline-block;
  position: relative;
  right: 15px;
  top: -2px;
} */
.header__drop-down {
  border: none;
  margin: 0;
  /* appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; */
  background-color: rgba(186, 0, 0, 0);
  font-family: "poppins-regular", sans-serif;
  font-size: 14px;
  color: white;
  background: transparent;
  cursor: pointer;
}
.header__drop-down:focus {
  border-color: rgb(255, 204, 0);
  box-shadow: 0 0 1px 1px rgb(255, 204, 0);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  outline: none;
}
.header__drop-down_lang {
  min-width: 65px;
}
.header__drop-down_count {
  min-width: 110px;
}
.header__drop-down option {
  color: rgb(186, 0, 0);
  background-color: rgb(255, 204, 0);
}
.header__ul,
.header__list {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}
.header__ul {
  height: 120px;
  align-items: stretch;
}
.header__list {
  align-items: center;
  border-top: 4px solid rgb(255, 204, 0);
  border-bottom: 4px solid rgb(255, 204, 0);
}
.header__empty-2 {
  flex-grow: 2;
}
.header__empty-4 {
  flex-grow: 4;
}
.header__cc {
  padding: 0 2rem;
}
.header__cc:last-child {
  padding-right: 0;
}
.header__logo {
  padding: 10px;
}
.header__a {
  margin: auto;
  padding: 20px;
  color: rgb(186, 0, 0);
  text-transform: uppercase;
}
.header__list:hover {
  font-weight: bold;
  border-bottom: 4px solid rgb(186, 0, 0);
}
/* search block */
.header__box,
.header__search,
.header__search-input,
.fa-search {
  box-sizing: border-box;
}
.header__box {
  display: inline-block;
  position: relative;
  width: 100px;
  height: inherit;
}
.header__search {
  display: inline-block;
  position: absolute;
  top: 35px;
  right: 0px;
  height: 50px;
  width: 50px;
  background-color: rgb(255, 204, 0);
  text-align: center;
  border-radius: 25px;
  transition: all 0.5s;
}
.header__search-input {
  position: absolute;
  top: 10px;
  right: -20px;
  height: 30px;
  width: 30px;
  border: none;
  box-shadow: 0 0 0 10px rgb(186, 0, 0);
  border-radius: 15px;
  padding: 0 10px;
  transform: translateX(-30px);
  transition: all 0.5s;
}
.fa-search {
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  padding: 17px;
  z-index: 10;
  color: white;
  background-color: rgb(186, 0, 0);
}
.header__search:hover .header__search-input {
  display: inline-block;
  width: 220px;
}
.header__search-input:focus {
  display: inline-block;
  width: 220px;
  border: none;
  box-shadow: 0 0 0 10px rgb(186, 0, 0);
  outline: none;
}
.header__h2,
.header__line,
.header__text,
.header__but,
.header__adv {
  display: block;
  position: absolute;
}
.header__h2,
.header__adv,
.header__link {
  font-family: "poppins", sans-serif;
}

.header__h2 {
  top: 180px;
  font-size: 70px;
  color: white;
  max-width: 400px;
  font-weight: 900;
  font-stretch: ultra-expanded;
}
.header__line {
  top: 405px;
  width: 100px;
  margin: 0;
  box-shadow: none;
  border: none;
  height: 4px;
  background-color: rgb(255, 204, 0);
}
.header__text {
  top: 450px;
  max-width: 750px;
  font-size: 20px;
  font-stretch: ultra-expanded;
  font-family: "poppins-regular", sans-serif;
  color: rgb(255, 204, 0);
}
.header__adv {
  top: 540px;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
}
.header__adv b {
  padding: 0 25px;
  color: rgb(255, 204, 0);
}
.header__but {
  top: 610px;
}
.header__link {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 25px;
  max-height: 50px;
  background-color: rgb(255, 204, 0);
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
  font-stretch: ultra-expanded;
  cursor: pointer;
}
.header__link:first-child {
  margin-right: 20px;
}
.header__link:hover {
  color: rgb(186, 0, 0);
}
/* services block */
.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 730px;
  background-color: white;
}
.service__title {
  margin-top: 100px;
  position: relative;
  height: 110px;
  width: inherit;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 80px;
}
.services__h2 {
  font-family: "poppins", sans-serif;
  font-size: 50px;
  color: rgb(186, 0, 0);
  z-index: 10;
}
.service__back {
  display: block;
  position: absolute;
  top: -55px;
  left: 0px;
  font-size: 150px;
  text-transform: uppercase;
  font-family: "poppins", sans-serif;
  color: rgb(248, 248, 248);
  font-weight: 900;
}
.row {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.info-block,
.info-block_red {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 270px;
  height: 350px;
  text-align: start;
}
.info-block_red {
  background-color: rgb(186, 0, 0);
  padding: 30px;
}
.info-block__title {
  color: rgb(186, 0, 0);
  text-transform: uppercase;
  font-family: "poppins", sans-serif;
  font-size: 20px;
  font-weight: 900;
  font-stretch: ultra-expanded;
  margin-top: 20px;
}
.info-block__dis,
.info-block__dis_white {
  font-family: "poppins-regular", sans-serif;
  font-size: 16px;
  color: rgb(119, 119, 119);
}
.info-block__dis {
  margin-top: 10px;
  color: rgb(119, 119, 119);
}
.info-block__dis_white {
  color: white;
}
.info-block__link {
  display: inline-block;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  font-weight: 900;
  font-stretch: ultra-expanded;
  color: rgb(34, 34, 34);
  margin-top: 15px;
}
.info-block__link::after {
  content: " >";
  color: rgb(186, 0, 0);
}

.info-block__title_white {
  color: white;
  font-family: "poppins", sans-serif;
  font-size: 20px;
  font-weight: 900;
  font-stretch: ultra-expanded;
}
.info-block__line {
  display: block;
  width: 70px;
  margin-top: 10px;
  box-shadow: none;
  border: none;
  height: 2px;
  background-color: rgb(255, 204, 0);
  text-align: start;
  margin-inline-start: 0;
}
.info-block__drop-down {
  height: 50px;
  width: 210px;
  border: none;
  margin: 0;
  padding: 0 10px;
  background-color: rgb(157, 0, 0);
  font-family: "poppins-regular", sans-serif;
  font-size: 14px;
  color: white;
  cursor: pointer;
}
.header__drop-down option {
  padding-left: 10px;
  color: rgb(186, 0, 0);
  background-color: rgb(255, 204, 0);
}
.info-block__drop-down:focus {
  border-color: rgb(255, 204, 0);
  box-shadow: 0 0 1px 1px rgb(255, 204, 0);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  outline: none;
}

.info-block__link_but {
  display: inline-block;
  text-align: center;
  padding: 15px 30px;
  border-radius: 25px;
  max-height: 50px;
  min-width: 150px;
  background-color: rgb(255, 204, 0);
  color: rgb(186, 0, 0);
  font-family: "poppins", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
  font-stretch: ultra-expanded;
  cursor: pointer;
}
/* about section */
.about {
  display: flex;
  justify-content: center;
  position: relative;
  height: 910px;
  width: 100vw;
  background-color: white;
  text-align: center;
}
.about__play, .about__video {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 700px;
  overflow: hidden;
}
.about__title {
  position: absolute;
  top: 100px;
  font-family: 'poppins', sans-serif;
  font-weight: 900;
  font-size: 50px;
  letter-spacing: 5px;
  color: white;
}
.about__but {
  /* display: block; */
  position: absolute;
  top: 250px;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: rgb(255, 204, 0);
  color: rgb(186, 0, 0);
  font-size: 20px;
}
.about__info  {
  position: absolute;
  top: 500px;
  width: 1170px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* background-color: rgb(192, 192, 192); */
  text-align: left;
}
.about__info-block {
  width: 370px;
}
.about__title_red {
  font-family: 'poppins', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: rgb(186, 0, 0);
  margin:25px 30px 15px 30px;
}
.about__text {
  font-family: 'poppins-regular', sans-serif;
  font-size: 16px;
  color: rgb(119, 119, 119);
  margin: 0 30px;
}
.about__text .fa-play {
  color: rgb(255, 204, 0);
  font-size: 12px;
  margin-right: 8px;
}
/* form section */
.form {
  height: 750px;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
}
.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row_mod {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.form__box {
  position: relative;
  height: 530px;
}
.form__name {
  width: 285px;
  height: 50px;
  font-family: 'poppins', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
.form__name_red {
  background-color: rgb(186, 0, 0);
  color: white;
}
.form__name_yellow {
  background-color: rgb(255, 204, 0);
  color: rgb(186, 0, 0);
}
.form__field {
  position: absolute;
  top: 50px;
  left: 0;
  width: 570px;
  height: 480px;
  padding: 20px 0;
}
.form__field_red {
  background-color: rgb(186, 0, 0);
}
.form__field_yellow {
  background-color: rgb(255, 204, 0);
  color: rgb(186, 0, 0);
  visibility: hidden;
}
.form__select {
  width: 490px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 204, 0);
  color: white;
  text-transform: uppercase;
  font-family: 'poppins-regular', sans-serif;
  font-size: 14px;
}
.form__label,
.form__arrow {
  display: flex;
  height: 50px;
  align-items: center;
}
.form__label {
  flex-grow: 2;
  padding-left: 20px;
  border-right: 2px solid white;
}
.form__arrow {
  justify-content: center;
  width: 50px;
  transform: rotate(90deg);
  font-weight: 900;
}
.form__content {
  height: 0;
  overflow: hidden;
  transition-duration: 0.8s;
  background-color: rgb(157, 0, 0);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form__title {
  margin: 15px 0 10px 20px;
  font-family: 'poppins', sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
}
.form__item {
  margin: 2px 0 0 20px;
  font-family: 'poppins-regular', sans-serif;
  display: inline-block;
}
.form__item .fa-play {
  color: rgb(255, 204, 0);
  font-size: 12px;
  display: inline-block;
  margin-right: 10px;
}
.form__item:last-child {
  margin-bottom: 20px;
}
.form__grow:hover .form__select {
  color: rgb(186, 0, 0);
}
.form__grow:hover .form__label {
  border-color: rgb(186, 0, 0);
}
.form__grow:hover .form__arrow {
  transform: rotate(-90deg);
}
.form__grow:hover .form__content {
  height: 145px;
}
.form__img {
  width: 460px;
  height: 530px;
  position: relative;
}
.form__blank {
  width: 435px;
  height: 500px;
  position: absolute;
  display: flex;
  align-items: flex-end;
}
.form__blank_red {
  top: 0;
  left: 0;
  background-color: rgb(186, 0, 0);
}
.form__blank_grey {
  top: 30px;
  left: 25px;
  background-color: rgb(213, 213, 213);
}
.form__logo {
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 204, 0);
}
/* features section */
.features {
  height: 350px;
  background-color: rgb(186, 0, 0);
  color: white;
}
