/* new bem css */
/* flex-box */
.flex-row {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* width: 100vw; */
}
.flex-col {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 100vw; */
}
.flex_between {
    justify-content: space-between;
}
.flex_center {
    justify-content: center;
}
.grow-2 {
    flex-grow: 2;
}
.grow-4 {
    flex-grow: 4;
}
/* wrap */
.wrap {
    position: relative;
    width: 1170px;
    margin: 0 auto;
}
/* blocks */

/* header */
.header-top {
    min-height: 50px;
    background-color: rgb(186, 0, 0);
}
.header-nav {
    min-height: 120px;
    background-color: rgb(255, 204, 0);
}
.header-bottom {
    min-height: 800px;
    background-color: rgb(192, 192, 192);
}
/* main */
.services, .about, .form, .footer {
    background-color: rgb(255, 255, 255);
}
    /* services */
.services {
    min-height: 730px;
}
    /* about */
.about {
    min-height: 910px;
}
    /* form */
.form {
    min-height: 735px;
}    
    /* features */
.features {
    min-height: 350px;
    background-color: rgb(186, 0, 0);
}
    /* clients */
.form {
    min-height: 270px;
}
/* footer */
.footer {
    min-height: 300px;
}