/* fonts */
@font-face {
  font-family: poppins-regular;
  src: url(/fonts/Poppins-Regular.ttf);
}
@font-face {
  font-family: poppins;
  src: url(/fonts/Poppins-Medium.ttf);
}
/* global css */
body {
  background-color: rgb(255, 255, 255);
  font-family: 'poppins-regular', sans-serif;
}
/* global blocks  */
.header-top, 
.header-nav, 
.header-bottom,
.services,
.about,
.form,
.features,
.clients,
.foot
{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
}
.header-top {
  height: 50px;
  background-color: rgb(186, 0, 0);
  color: rgb(255, 255, 255);
  font-size: 14px;
}
.header-nav {
  height: 120px;
  background-color: rgb(255, 204, 0);
}
.header-bottom {
  height: 768px;
  background: -webkit-linear-gradient(90deg, rgba(186,0,0,1), rgba(186,0,0,0)), url(/img/header-bottom/header-bg-v2.jpeg) 0 0/100% 100% no-repeat;
  background: -moz-linear-gradient(90deg, rgba(186,0,0,1), rgba(186,0,0,0)), url(/img/header-bottom/header-bg-v2.jpeg) 0 0/100% 100% no-repeat;
  background: linear-gradient(90deg, rgba(186,0,0,1), rgba(186,0,0,0)), url(/img/header-bottom/header-bg-v2.jpeg) 0 0/100% 100% no-repeat;
}
.services {
  height: 730px;
}
.about {
  height: 910px;
}
.form {
  height: 735px;
}
.features {
  height: 350px;
  background-color: rgb(186, 0, 0);
}
.clients {
  height: 270px;
}
.foot {
  height: 320px;
}
.wrap {
  width: 1170px;
  height: 100%;
}
.col,.row {
  position: relative;
  display: flex;
  align-items: center;
}
.col {
  flex-direction: column;
}
.col_start {
  justify-content: flex-start;
}
.row {
  flex-direction: row;
}
.row_between {
  justify-content: space-between;
}
.empty-2 {
  flex-grow: 2;
}
.empty-4 {
  flex-grow: 4;
}
.select {
  background-color: inherit;
}
.select option {
  background-color: rgb(186, 0, 0);
}
.link-but {
  height: 50px;
  min-width: 100px;
  border-radius: 25px;
  padding: 0 25px;
  margin-right: 30px;
  cursor: pointer;
  font-weight: 700;
  transition: 0.3s;
}
.link-but_yellow {
  background-color: rgb(255, 204, 0);
  color: rgba(186,0,0,1);
  border: 2px solid  rgb(255, 204, 0);
}
.link-but_yellow:hover {
  background: none;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
}
/* header-top elements*/
.header-top__contact {
  margin-right: 30px;
}
.header-top__contact:active {
  color: rgb(255, 204, 0);
}
.header-top__contact .fa-users{
  margin-right: 10px;
}
/* header_nav elements*/
.header-nav__menu {
  height: 120px;
  align-items: stretch;
}
.header-nav__item {
  align-items: stretch;
  border-top: 4px solid rgb(255, 204, 0);
  border-bottom: 4px solid rgb(255, 204, 0);
}
.header-nav__item:hover {
  border-bottom: 4px solid rgb(186, 0, 0);
}
.header-nav__item:active {
  border-bottom: 4px solid rgb(255, 255, 255);
}
.header-nav__link {
  padding: 0 15px;
  text-transform: uppercase;
  color: rgb(186, 0, 0);
}
.header-nav__link:hover {
  font-weight: 700;
}
.header-nav__link:active {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px rgb(255, 255, 255);
  
}
/* header_nav elements, search block */
.header-nav__box {
  position: relative;
  width: 100px;
  height: 50px;
  right: 0px;
}
.header-nav__search {
  position: absolute;
  right: 0px;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  transition: all 0.5s;
}
.header-nav__search-input {
  position: absolute;
  top: 10px;
  right: -20px;
  height: 30px;
  width: 30px;
  border: none;
  box-shadow: 0 0 0 10px rgb(186, 0, 0);
  border-radius: 15px;
  padding: 0 10px;
  transform: translateX(-30px);
  transition: all 0.5s;
}
.fa-search {
  display: inline-block;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  padding: 17px;
  z-index: 10;
  color: white;
  background-color: rgb(186, 0, 0);
}
.header-nav__search:hover .header-nav__search-input {
  display: inline-block;
  width: 220px;
}
.header-nav__search-input:focus {
  display: inline-block;
  width: 220px;
  border: none;
  box-shadow: 0 0 0 10px rgb(186, 0, 0);
  outline: none;
}
/* header-bottom elements */
.header-bottom__title {
  position: absolute;
  top: 180px;
  font-size: 70px;
  color: white;
  max-width: 400px;
  font-family: "poppins", sans-serif;
  font-weight: 900;
}
.header-bottom__decor {
  position: absolute;
  top: 405px;
  width: 100px;
  margin: 0;
  box-shadow: none;
  border: none;
  height: 4px;
  background-color: rgb(255, 204, 0);
}
.header-bottom__text {
  position: absolute;
  top: 450px;
  max-width: 750px;
  font-size: 20px;
  color: rgb(255, 204, 0);
}
.header-bottom__adv {
  position: absolute;
  top: 540px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
}
.header-bottom__adv b {
  padding: 0 25px;
  color: rgb(255, 204, 0);
}
.header-bottom__link-block {
  position: absolute;
  top: 610px;
}
.services__title-box {
  position: relative;
  margin-top: 90px;
  margin-bottom: 80px;
  height: 150px;
  width: inherit;
}
.services__shadow,.services__title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: "poppins", sans-serif;
}
.services__shadow {
  font-size: 150px;
  text-transform: uppercase;
  color: rgb(248, 248, 248);
  font-weight: 900;
  letter-spacing: 16px;
}
.services__title {
  padding-left: 5px;
  font-size: 50px;
  font-weight: 700;
  color: rgb(186, 0, 0);
  letter-spacing: 5px;
}
/* old css */
/* header_bottom */
.header_bottom {
  height: 800px;
  background-color: rgb(192, 192, 192);
}
/* header__elements */
.header__drop-down,
.header__empty-2,
.header__empty-4,
.header__cc,
.header__list,
.header__a {
  display: inline-block;
  box-sizing: border-box;
}
.header__a-top {
  color: rgb(255, 255, 255);
}
/* .header__wrap::after {
  content: "^";
  transform: rotate(180deg);
  display: inline-block;
  position: relative;
  right: 15px;
  top: -2px;
} */
.header__drop-down {
  border: none;
  margin: 0;
  /* appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none; */
  background-color: rgba(186, 0, 0, 0);
  font-family: "poppins-regular", sans-serif;
  font-size: 14px;
  color: white;
  background: transparent;
  cursor: pointer;
}
.header__drop-down:focus {
  border-color: rgb(255, 204, 0);
  box-shadow: 0 0 1px 1px rgb(255, 204, 0);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  outline: none;
}
.header__drop-down_lang {
  min-width: 65px;
}
.header__drop-down_count {
  min-width: 110px;
}
.header__drop-down option {
  color: rgb(186, 0, 0);
  background-color: rgb(255, 204, 0);
}

.header__empty-2 {
  flex-grow: 2;
}
.header__empty-4 {
  flex-grow: 4;
}
.header__cc {
  padding: 0 2rem;
}
.header__cc:last-child {
  padding-right: 0;
}
.header__logo {
  padding: 10px;
}
.header__a {
  margin: auto;
  padding: 20px;
  color: rgb(186, 0, 0);
  text-transform: uppercase;
}
.header__list:hover {
  font-weight: bold;
  border-bottom: 4px solid rgb(186, 0, 0);
}

.header__h2,
.header__line,
.header__text,
.header__but,
.header__adv {
  display: block;
  position: absolute;
}
.header__h2,
.header__adv,
.header__link {
  font-family: "poppins", sans-serif;
}

.header__h2 {
  top: 180px;
  font-size: 70px;
  color: white;
  max-width: 400px;
  font-weight: 900;
  font-stretch: ultra-expanded;
}
.header__line {
  top: 405px;
  width: 100px;
  margin: 0;
  box-shadow: none;
  border: none;
  height: 4px;
  background-color: rgb(255, 204, 0);
}
.header__text {
  top: 450px;
  max-width: 750px;
  font-size: 20px;
  font-stretch: ultra-expanded;
  font-family: "poppins-regular", sans-serif;
  color: rgb(255, 204, 0);
}
.header__adv {
  top: 540px;
  font-size: 20px;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
}
.header__adv b {
  padding: 0 25px;
  color: rgb(255, 204, 0);
}
.header__but {
  top: 610px;
}
.header__link {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 25px;
  max-height: 50px;
  background-color: rgb(255, 204, 0);
  color: white;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
  font-stretch: ultra-expanded;
  cursor: pointer;
}
.header__link:first-child {
  margin-right: 20px;
}
.header__link:hover {
  color: rgb(186, 0, 0);
}
/* services block */

.info-block,
.info-block_red {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 270px;
  height: 350px;
  text-align: start;
}
.info-block_red {
  background-color: rgb(186, 0, 0);
  padding: 30px;
}
.info-block__title {
  color: rgb(186, 0, 0);
  text-transform: uppercase;
  font-family: "poppins", sans-serif;
  font-size: 20px;
  font-weight: 900;
  font-stretch: ultra-expanded;
  margin-top: 20px;
}
.info-block__dis,
.info-block__dis_white {
  font-family: "poppins-regular", sans-serif;
  font-size: 16px;
  color: rgb(119, 119, 119);
}
.info-block__dis {
  margin-top: 10px;
  color: rgb(119, 119, 119);
}
.info-block__dis_white {
  color: white;
}
.info-block__link {
  display: inline-block;
  font-family: "poppins", sans-serif;
  font-size: 16px;
  font-weight: 900;
  font-stretch: ultra-expanded;
  color: rgb(34, 34, 34);
  margin-top: 15px;
}
.info-block__link::after {
  content: " >";
  color: rgb(186, 0, 0);
}

.info-block__title_white {
  color: white;
  font-family: "poppins", sans-serif;
  font-size: 20px;
  font-weight: 900;
  font-stretch: ultra-expanded;
}
.info-block__line {
  display: block;
  width: 70px;
  margin-top: 10px;
  box-shadow: none;
  border: none;
  height: 2px;
  background-color: rgb(255, 204, 0);
  text-align: start;
  margin-inline-start: 0;
}
.info-block__drop-down {
  height: 50px;
  width: 210px;
  border: none;
  margin: 0;
  padding: 0 10px;
  background-color: rgb(157, 0, 0);
  font-family: "poppins-regular", sans-serif;
  font-size: 14px;
  color: white;
  cursor: pointer;
}
.header__drop-down option {
  padding-left: 10px;
  color: rgb(186, 0, 0);
  background-color: rgb(255, 204, 0);
}
.info-block__drop-down:focus {
  border-color: rgb(255, 204, 0);
  box-shadow: 0 0 1px 1px rgb(255, 204, 0);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  outline: none;
}

.info-block__link_but {
  display: inline-block;
  text-align: center;
  padding: 15px 30px;
  border-radius: 25px;
  max-height: 50px;
  min-width: 150px;
  background-color: rgb(255, 204, 0);
  color: rgb(186, 0, 0);
  font-family: "poppins", sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
  font-stretch: ultra-expanded;
  cursor: pointer;
}
/* about section */
.about {
  display: flex;
  justify-content: center;
  position: relative;
  height: 910px;
  width: 100vw;
  background-color: white;
  text-align: center;
}
.about__play, .about__video {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  width: 100vw;
  height: 700px;
  overflow: hidden;
}
.about__title {
  position: absolute;
  top: 100px;
  font-family: 'poppins', sans-serif;
  font-weight: 900;
  font-size: 50px;
  letter-spacing: 5px;
  color: white;
}
.about__but {
  /* display: block; */
  position: absolute;
  top: 250px;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: rgb(255, 204, 0);
  color: rgb(186, 0, 0);
  font-size: 20px;
}
.about__info  {
  position: absolute;
  top: 500px;
  width: 1170px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /* background-color: rgb(192, 192, 192); */
  text-align: left;
}
.about__info-block {
  width: 370px;
}
.about__title_red {
  font-family: 'poppins', sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: rgb(186, 0, 0);
  margin:25px 30px 15px 30px;
}
.about__text {
  font-family: 'poppins-regular', sans-serif;
  font-size: 16px;
  color: rgb(119, 119, 119);
  margin: 0 30px;
}
.about__text .fa-play {
  color: rgb(255, 204, 0);
  font-size: 10px;
  margin-right: 8px;
}
/* form section */
.form {
  height: 750px;
  width: 100vw;
  position: relative;
  display: flex;
  justify-content: center;
}
.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row_mod {
  display: flex;
  justify-content: center;
  align-items: center;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.form__box {
  position: relative;
  height: 530px;
}
.form__name {
  width: 285px;
  height: 50px;
  font-family: 'poppins', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
.form__name_red {
  background-color: rgb(186, 0, 0);
  color: white;
}
.form__name_yellow {
  background-color: rgb(255, 204, 0);
  color: rgb(186, 0, 0);
}
.form__field {
  position: absolute;
  top: 50px;
  left: 0;
  width: 570px;
  height: 480px;
  padding: 20px 0;
}
.form__field_red {
  background-color: rgb(186, 0, 0);
}
.form__field_yellow {
  background-color: rgb(255, 204, 0);
  color: rgb(186, 0, 0);
  visibility: hidden;
}
.form__select {
  width: 490px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 204, 0);
  color: white;
  text-transform: uppercase;
  font-family: 'poppins-regular', sans-serif;
  font-size: 14px;
}
.form__label,
.form__arrow {
  display: flex;
  height: 50px;
  align-items: center;
}
.form__label {
  flex-grow: 2;
  padding-left: 20px;
  border-right: 2px solid white;
}
.form__arrow {
  justify-content: center;
  width: 50px;
  transform: rotate(90deg);
  font-weight: 900;
}
.form__content {
  height: 0;
  overflow: hidden;
  transition-duration: 0.8s;
  background-color: rgb(157, 0, 0);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form__title {
  margin: 15px 0 10px 20px;
  font-family: 'poppins', sans-serif;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
}
.form__item {
  margin: 2px 0 0 20px;
  font-family: 'poppins-regular', sans-serif;
  display: inline-block;
}
.form__item .fa-play {
  color: rgb(255, 204, 0);
  font-size: 10px;
  display: inline-block;
  margin-right: 10px;
}
.form__item:last-child {
  margin-bottom: 20px;
}
.form__grow:hover .form__select {
  color: rgb(186, 0, 0);
}
.form__grow:hover .form__label {
  border-color: rgb(186, 0, 0);
}
.form__grow:hover .form__arrow {
  transform: rotate(-90deg);
}
.form__grow:hover .form__content {
  height: 145px;
}
.form__img {
  width: 460px;
  height: 530px;
  position: relative;
}
.form__blank {
  width: 435px;
  height: 500px;
  position: absolute;
  display: flex;
  align-items: flex-end;
}
.form__blank_red {
  top: 0;
  left: 0;
  background-color: rgb(186, 0, 0);
}
.form__blank_grey {
  top: 30px;
  left: 25px;
  background-color: rgb(213, 213, 213);
}
.form__logo {
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 204, 0);
}
/* features section */
.features {
  height: 350px;
  background-color: rgb(186, 0, 0);
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
}
.features__info {
  width: 740px;
}
.features__title {
  font-family: 'poppins', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 30px;
}
.features__text {
  font-family: 'poppins-regular', sans-serif;
  font-size: 16px;
}
.features__but {
  display: block;
  width: 150px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(157, 0, 0);
  color: white;
  font-family: 'poppins', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.features__but:hover {
  color: rgb(255, 204, 0);
}
/* clients section */
.client {
  height: 270px;
  background-color: white;
  position: relative;
  display: flex;
  justify-content: center;
}
.client__img {
  height: 130px;
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(249, 249, 249);
}
/* footer */
.footer__menu {
  max-width: 1030px;
  min-width: 680px;
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'poppins', sans-serif;
  text-transform: uppercase;
}
.footer__title {
  color: rgb(186, 0, 0);
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 25px;
}
.footer__link {
  color: rgb(119, 119, 119);
}
.footer__link .fa-play {
  color: rgb(186, 0, 0);
  font-size: 10px;
  display: inline-block;
  margin-right: 10px;
}
/* .footer__menu-item:first-child .footer__link {
  color: rgb(255, 204, 0);
} */
.footer__link_yel {
  color: rgb(255, 204, 0);
}
/* .footer__menu-part:last-child .footer__menu-item:first-child .footer__link {
  color: rgb(0, 126, 223);
} */
.footer__link_blue {
  color: rgb(0, 126, 223);
}